{% extends 'layouts/app.twig' %}
{% block pageclass %}archive{% endblock %}
{% block title %}All Posts{% endblock %}

{% block content %}

<header class="header" id="home">
    <div class="header__container container">
        <div class="logo-wrapper">
            <a href="{{ path_for('home') }}">
                <img src="/assets/img/ml-header.jpg" alt="ML" draggable="false">
                <img src="/assets/img/millennial-lawyer-header.png" alt="Millennial Lawyer" draggable="false">
            </a>
        </div>

        <nav class="nav">
            <div class="nav__container container">
                <div class="menu">
                    <ul class="nav__navbar is--active">
                        <li><a href="{{ path_for('home') }}">Home</a></li>
                        <li><a href="{{ path_for('home') }}#blog">Blog</a></li>
                        <li><a href="{{ path_for('home') }}#about">About</a></li>
                        <li><a href="{{ path_for('home') }}#contact">Contact</a></li>
                    </ul>
                </div>
                {% include 'partials/hamburger.twig' %}
            </div>
        </nav>

        <div class="socials-wrapper">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-vimeo"></i></a>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</header>

<section class="archive">
    <div class="archive__container container">

    <h1>All <span>Posts</span></h1>

        {% for post in posts %}
            <div class="article container--full">
                <div class="featured-wrapper column-3">
                    <img src="/assets/uploads/posts/{{ post.id }}/featured.jpg" draggable="false">
                </div>
                <div class="content-wrapper column-9">
                    <h4>
                        <a href="{{ path_for('home.post', { 'slug': post.slug }) }}">{{ post.title }}</a>
                    </h4>
                    <p>{{ post.body|slice(0, 300) }}...</p>
                    <p class="byline">By {{ post.author }} on {{ post.created_at|date('F d, Y') }}</p>
                </div>
            </div>
        {% endfor %}

        {% include 'partials/paginate.twig' with { 'context': 'posts' } %}

    </div>
</section>

<footer class="footer">
    <div class="footer__container container">
        <p>&copy; COPYRIGHT 2018</p>
    </div>
</footer>

{% endblock %}
