{% extends 'layouts/app.twig' %}
{% block pageclass %}admin{% endblock %}
{% block title %}All Posts{% endblock %}

{% block content %}

{% include 'admin/header.twig' %}

<section class="posts-index">
    <div class="posts-index__container container">
        <div class="title-bar">
            <h1>Posts</h1>
            <a href="{{ path_for('posts.create') }}" class="button"><i class="fa fa-angle-right"></i> Create New</a>
        </div>

        <table>
            <thead>
                <tr>
                    <td>Featured</td>
                    <td>Title</td>
                    <td>Body</td>
                    <td>Author</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>
                            <div class="img-container">
                                <img src="/assets/uploads/posts/{{ post.id }}/featured.jpg" draggable="false">
                            </div>
                        </td>
                        <td><a href="{{ path_for('posts.view', { 'slug': post.slug }) }}">{{ post.title }}</a></td>
                        <td>{{ post.body|slice(0, 100) }}</td>
                        <td>{{ post.author }}</td>
                        <td>{% if post.draft == 0 %}Posted{% else %}Drafted{% endif %}</td>
                        <td><a href="{{ path_for('posts.edit', { 'id': post.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a> <a href="{{ path_for('posts.delete', { 'id': post.id }) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'partials/paginate.twig' with { 'context': 'posts' } %}
    </div>
</section>

{% endblock %}
